@font-face {
  font-family: "KIMIJI-NotoKR";
  src: url("/fonts/noto/NotoSansKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KIMIJI-NotoKR";
  src: url("/fonts/noto/NotoSansKR-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
